@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:"poppins";
}
*, :after, :before {
    box-sizing: border-box;
}
.top-nav{
    background-color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom:1px solid #eaeaea;
}
.anchor-heading2{
    margin-top: 20px;
    color: #6e6e80;
}
.pheader-left {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
}
.navbar{
    display: inline-flex;
}
.navbar{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 24px;
}
.pheader-nav {
    align-items: center;
    display: flex;
    flex: 0 1;
    justify-content: space-around;
}
.pheader-nav a{
    font-size:14px;
    letter-spacing:1px;
    color: #888888;
    margin-left: 30px;
    cursor: pointer;
}
.pheader-nav a:hover{
    color: #10a37f;
}
ion-icon{
    color:#ffffff;
    font-size:25px;
}
.pheader-right .nav-item{
    display:inline;
    color: #888888;
    font-size:15px;
    margin-right:20px;
}
.pheader-right #signup{
    padding:8px 8px;
    color: #fff;
    background-color:#10a37f;
    border-radius: 5px;
}
.docs-nav {
    border-right: 1px solid var(--gray-100);
    flex: 0 0 auto;
    overflow: auto;
    padding: 50px 0 20px;
    width: 220px;
    height: 750px;
    margin-left: 20px;
}
div {
    display: block;
}
.side-nav ul li{
    color: #6e6e80;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top:8px;
    padding: 5px;
    cursor: pointer;
}
.page-body {
    flex: 1 0 auto;
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
}
.side-nav ul li:hover{
    border-radius:2px;
    color: rgb(39, 39, 39);
}

.side-nav-header{
    letter-spacing: 2.5px;
    font-size: 14px;
    font-weight: 550;
    
}
.docs-body{
    padding: 30px;
    width: 900px;
    margin-top: 5px;
}
.docs-body h1{
    color:RGB(53, 55, 64);
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
}
.anchor-heading-root h3{
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}
.docs-body .p1{
    
    line-height: 30px;
    letter-spacing: 0.05rem;
    font-size: 16px;
    margin-bottom: 60px;
}
.anchor-heading-root h2{
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.docs-body .p2{
    
    line-height: 30px;
    letter-spacing: 0.05rem;
    font-size: 16px;
    margin-bottom: 20px;
}
.page-link{
    flex: 1 1 auto;
    min-width: 0;
}
.icon-item-icon ion-icon{
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(93, 42, 223);
}
.icon-item {
    align-items: flex-start;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    min-width: 0;
    transition: opacity .15s;
    margin-bottom: 40px;
}
.icon-item-icon {
    border-radius: 4px;
    color: #fff;
    flex: 0 0 auto;
    font-size: 24px;
    line-height: 0px;
    
}
.icon-item-right {
    flex: 1 1 auto;
    min-width: 0;
    padding-left: 16px;
}
.icon-item-title {
    color: #202123;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 8px;
    transition: color .15s;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.icon-item-desc {
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
    font-size: 13.5px;
    letter-spacing: 1px;
}
.para3 .anchor{
    margin-bottom:20px;
}
.para3 .p3{
    line-height: 27px;
    letter-spacing: 0.05rem;
    font-size: 16px;
    margin-bottom: 15px;
}
.para4 .anchor{
    margin-bottom:20px;
}
.para4 .p4{
    line-height: 27px;
    letter-spacing: 0.05rem;
    font-size: 16px;
    margin-bottom: 15px;
}
.para5 .anchor{
    margin-bottom:20px;
}
.para5 .p5{
    line-height: 27px;
    letter-spacing: 0.05rem;
    font-size: 16px;
    margin-bottom: 15px;
}









.container1 {
    width: 200px;
    margin-left: 8px;
    background-color: #fff;
    
  }
  .container1 > ul {
    list-style: none;
    padding: 0;
  }
  .dropdown1 a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color:var(--primary-font-color);
    opacity: 0.7;
  }
  .dropdown1 [data-toggle="dropdown"] {
    position: relative;
    display: block;
  }
  .dropdown1 .icon-arrow {
    position: absolute;
    display: block;
    font-size:9px;
    color:var(--primary-font-color);
    top: 0px;
    right: 195px;
  }
  .dropdown1 .icon-arrow.open {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);

  }
  .dropdown1 .icon-arrow.close {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .dropdown1 .icon-arrow:before {
    content: '\25BC';
  }
  .dropdown1 .dropdown-menu1 {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
  }
  .dropdown1 .dropdown-menu1 li {
    padding: 0;
  }
  .dropdown1 .dropdown-menu1 li a {
    display: block;
    color:var(--primary-font-color);
    padding: 5px 20px;
  }
  .dropdown1 .show, .dropdown1 .hide {
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  .dropdown1 .show {
    display: block;
    max-height: 9999px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
  }
  h1{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color:var(--primary-font-color);
    opacity: 0.7;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  